@import url('https://fonts.googleapis.com/css2?family=FAMILY_NAME:wght@WEIGHT_OR_RANGE&display=swap');

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #222;
}

.navbar{
    padding: .8rem ;
}

.navbar-nav li{
    padding-left: 20px;
}

.carousel-inner img{
    width: 80%;
    height: 80%;
}

.carousel-caption{
    position:absolute;
    top: 80%;
    transform: translateY(-50%);
}

.btn-primary{
    background-color: #6648b1;
    border: 1px solid #563d7c;
}

.btn-primary:hover {
    background-color: #6648b1;
    border: 1px solid #563d7c;
}